.inputBar{
    position: absolute;
    bottom: 0;
    width: 100%;
}/* Empty. Add your own CSS if you like */
.checkboxItem{
    width: 85%;
    height: 49px;
    float: left;
}
.deleteBtn{
    width: 15%;
    float: right;
    height: 47px;
    font-size: 12px;
  
}